{% extends "layout.html" %}

{% block content %}
    <div>
      <h3>Sign Up</h3>
      <div>
        <form action="/signup" method="POST">
          <div>
            <input type='text' name="name" placeholder="Name" autofocus="">
          </div>
          <div>
            <input type='email' name="email" placeholder="Email" autofocus="">
          </div>
          <div>
            <input type='password' name="password" placeholder="Password">
          </div>
          <button>Sign Up</button>
        </form>
      </div>
    </div>
{% endblock %}