<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>家計簿</title>
</head>

<body>
<ul>
  <li><a href="{{ url_for('index')}}">Index</a></li>
  <li><a href="{{ url_for('auth.signup')}}">新規登録</a></li>
  <li><a href="{{ url_for('auth.login')}}">ログイン</a></li>
</ul>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      <div>
        {{ messages[0] }}
      </div>
   {% endif %}
{% endwith %}
{% block content %}
{% endblock %}
 
</body>

</html>